.container{
    display: flex;
    align-items: center;
}

.imageContainer{
    position: relative;
    flex: 1;
    height: 500px;
}

.img{
    border-radius: 10px;
    margin: 0 20px;
}

.blogdesc{
    resize: none;
}

.formContainer{
    flex: 1;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input,
.form textArea{
    border: none;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgSoft);
    color: var(--text);
    outline: none;
}

.form button{
    padding: 8px;
    background-color: var(--btn);
    color: black;
    font-weight: bold;
    width: 100px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.form button:hover{
    opacity: 0.9;
}

@media (max-width: 768px) {
    .imageContainer{
        display: none;
    }
}


