.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 40px;
    padding-bottom: 80px;
}


.blogContainer {
    display: flex;
    gap: 40px;
}

.comments{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.commentContainer {
    border-top: 0.5px gray solid;
    padding:20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: transparent;
}

.commentContainer h3 {
    font-size: 25px;
}

.commentContainer p {
    align-self: center;
}

.imageContainer {
    flex: 1;
    position: relative;
    height: calc(100vh - 95px);
}

.image {
    height: 100%;
    max-width: 450px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 50px;
}

.title {
    font-size: 64px;
}

.detail {
    display: flex;
    gap: 10px;
}

.image {
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.detailText {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.detailTitle {
    color: gray;
    font-weight: bold;
}

.detailValue {
    font-weight: 500;
    letter-spacing: 1px;
}

.content {
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 35px;
    white-space: pre-wrap;
    height: 400px;
    outline: 2px gray solid;
    padding: 15px;
    border-radius: 12px;
    overflow-y: scroll;
    scrollbar-width: none;
}



@media (max-width: 1280px) {
    .imageContainer {
        display: none;
    }
}