.container{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin: 25px;
}

.top{
    display: flex;
}

.imageContainer{
    min-width: 300px;
    object-fit: cover;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 20px;
}

.image{
    
    border-radius: 20px;
}

.date{
    font-size: 12px;
    transform: rotate(270deg);
    margin: auto;
    letter-spacing: 3px;
}

.title{
    width: 90%;
    font-size: 24px;
    margin-bottom: 20px;
}

.description{
    font-weight: 300;
    color: gray;
    width: 100%;
    margin-bottom: 20px;
}

.link{
    text-decoration: underline;
}

.link:hover{
    text-decoration: underline;
    text-decoration-color: aqua;
    color: aqua;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .description{
        width: 300px;
    }
}
