.shareButton{
    position: absolute;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    top: 15px;
    border: none;
    padding: 5px 10px;
    right: 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.shareButton:hover{
    opacity: 0.8;
}