.container{
    display: flex;
    gap: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.imageContainer{
    flex: 1;
    position: relative;
    height: calc(100vh - 200px);
}

.textContainer{
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 50px;
}

.title{
    font-size: 64px;
}

.detail{
    display: flex;
    gap: 10px;
}

.image{
    object-fit: cover;
    border-radius: 20px;
}

.detailText{
    display: flex;  
    flex-direction: column;
    gap: 5px;
}

.detailTitle{
    color: gray;
    font-weight: bold;
}

.detailValue{
    font-weight: 500;
}

.content{
    font-size: 18px;;
}

@media (max-width: 1280px) {
    .imageContainer{
        display: none;
    }
}