.heading{
    font-size: 30px;
    font-weight: bold;
}

.input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: 2px solid white;
    padding: 15px;
    border-radius: 20px;
    color: white;
}

.form{
    display: flex;
    gap: 15px;
}

.disabled{
    width: 100%;
    background-color: rgb(72, 72, 72);
    border: none;
    padding: 15px;
    border-radius: 20px;
    
    color: white;
    cursor:not-allowed;
}

.disabled::placeholder{
    color: white;
}

.buttonDisabled{
    padding: 15px;
    border: none;
    border-radius: 20px;
    cursor:not-allowed;
}

.commentButton{
    padding: 15px;
    border: none;
    color: black;
    background-color: white;
    border-radius: 20px;
    outline: 2px solid white;
    cursor: pointer;
}


.commentButton:hover{
    opacity: 0.8;
}