.container{
    display: flex;
    bottom: 0;
    width: 100%;
    background-color: black;
    padding: 20px;
    /* margin-top: 10%; */
    padding: 20 0;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    border-top: thin solid rgb(132, 151, 206);
}

.organization{
    color: gray;
    font-size: 15px;
    font-weight: bold;
}

.copyright{
    color: gray;
    font-size: 12px;
}

@media (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 475px) {
    .container{
        display: flex;
        width: 100%;
        background-color: black;
        padding: 25px 0;
        margin-top: 20px;
        justify-content: space-between;
        align-items: center;
        border-top: thin solid rgb(132, 151, 206);
    }
}